.normal-menu ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.normal-menu ul li{
    list-style: none;
    padding: 10px;
}

.normal-menu ul li a{
    text-decoration: none;
    color: #000000;
    font-weight: 500;
    border-bottom: 2px solid #c9c9c9;
    padding: 10px;
    transition: 0.5s all;
}

.normal-menu ul li a:hover{
    border-bottom: 2px solid #FFA500;
    color: #FFA500;
}

/* Mobile */

.mobile-menu{
    display: none;
    position:fixed;
    top: 0;
    left: 0;
    width: 125px;
    text-align: center;
    transition: 1s all;
}

.mobile-menu:hover:focus:active p{
    color: black;
}

.mobile-menu:hover{
    height: 100%;
    width: 250px;
    background: #f0f0f0;
}

.mobile-menu:hover p{
    background: var(--default-color);
}

.mobile-menu:hover ul{
    display: block;
    opacity: 1;
}

.mobile-menu p{
    transition: 1s all;
}

.mobile-menu p:after{
    content: '☰';
}

.mobile-menu ul{
    display: none;
    height: 90%;
    overflow-x: auto;
    opacity: 0;
    transition: 1s opacity;
}

.mobile-menu ul li{
    padding: 10px;
}

.mobile-menu ul li a{
    display: block;
    text-decoration: none;
    color: #000000;
    font-size: 25px;
    font-weight: normal;
}

/* Resize @media */

@media only screen and (max-width: 740px) {
    .normal-menu{
        display: none;
    }

    .mobile-menu{
        display: block;
    }

    header p{
        font-weight: bold;
    }

}

/* Animation */

@keyframes changeMobileMenuSummaryContent {
    0% {
        content: "|||";
    }
    12% {
        content: "||";
    }
    25% {
        content: "/\";
    }
    75% {
        content: 'X';
    }
    100% {
        content: "X";
    }
}