<!doctype html>
<html lang="pt-Br">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">

        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">

        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
        <link rel="stylesheet" href="../public/css/base.css">
        <link rel="stylesheet" href="../public/accordion/css/accordion.css">

        <title>Front-End</title>
    </head>

    <body>

        <header>
            <nav>
                <h1>Title</h1>
                <ul>
                    <li>
                        <a href="#">Início</a>
                    </li>
                    <li>
                        <a href="#">Contato</a>
                    </li>
                    <li>
                        <a href="#">Sobre</a>
                    </li>
                </ul>
            </nav>
        </header>

        <content>
            <div class="content">
                <section class="banner banner-tp-1">
                    <div class="prev-image">
                        <button type="button"><</button>
                    </div>

                    <div class="banner-image image-full-content">
                        <img src="../public/images/480x480.png" alt="">
                    </div>

                    <div class="banner-image image-full-content">
                        <img src="../public/images/1375x520.png" alt="">
                    </div>

                    <div class="banner-image image-available-content">
                        <img src="../public/images/1375x520.png" alt="">
                    </div>

                    <div class="next-image">
                        <button type="button">></button>
                    </div>
                </section>

                <section class="section-space product-presentation">

                    <div class="products-header">
                        <div class="title" title="Title">
                            Title
                        </div>
                        <div class="description" title="Description">
                            Description
                        </div>
                    </div>

                    <div class="slider">
                        <div class="products-content slider-draggable">
                            <div class="product-content">
                                <div class="new-tag"></div>
                                <div class="product-image">
                                    <a href="#">
                                        <img src="../public/images/480x480.png" alt="">
                                    </a>
                                </div>
                                <div class="product-details">
                                    <a href="#" class="name">
                                        Product
                                    </a>
                                    <div class="price">
                                        <div class="dashed-price">R$ 89,90</div>
                                        <div class="actual-price">R$ 49,90</div>
                                        <div class="percentage-off">38% Off</div>
                                    </div>
                                </div>
                            </div>

                            <div class="product-content">
                                <div class="new-tag"></div>
                                <div class="product-image">
                                    <a href="#">
                                        <img src="../public/images/480x480.png" alt="">
                                    </a>
                                </div>
                                <div class="product-details">
                                    <a href="#" class="name">
                                        Product
                                    </a>
                                    <div class="price">
                                        <p class="actual-price">R$ 119,90</p>
                                    </div>
                                </div>
                            </div>

                            <div class="product-content">
                                <div class="product-image">
                                    <a href="#">
                                        <img src="../public/images/480x480.png" alt="">
                                    </a>
                                </div>
                                <div class="product-details">
                                    <a href="#" class="name">
                                        Product
                                    </a>
                                    <div class="price">
                                        <p class="actual-price">R$ 119,90</p>
                                    </div>
                                </div>
                            </div>

                            <div class="product-content">
                                <div class="product-image">
                                    <a href="#">
                                        <img src="../public/images/480x480.png" alt="">
                                    </a>
                                </div>
                                <div class="product-details">
                                    <a href="#" class="name">
                                        Product
                                    </a>
                                    <div class="price">
                                        <p class="actual-price">R$ 119,90</p>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </section>

                <section class="section-space">
                    <div class="accordion accordion-tp-1">
                        <div class="accordion-title">
                            <h3>Teste</h3>
                        </div>
                        <div class="accordion-content">
                            <p>
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                            </p>
                        </div>
                    </div>

                    <div class="accordion accordion-tp-1">
                        <div class="accordion-title">
                            <h3>Teste - 2</h3>
                        </div>
                        <div class="accordion-content">
                            <p>
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                            </p>
                        </div>
                    </div>

                    <div class="accordion accordion-tp-2">
                        <div class="accordion-title">
                            <h3>Teste - Template - 2</h3>
                        </div>
                        <div class="accordion-content">
                            <p>
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                            </p>
                        </div>
                    </div>
                </section>

            </div>
        </content>

        <footer>
            <div class="footer-header">
                <div class="title">
                    <h3>Footer Header</h3>
                </div>
            </div>
            <div class="footer-content">
                <p>Footer Content</p>
            </div>
        </footer>

    </body>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>

    <script type="text/javascript" src="../public/accordion/js/accordion.js"></script>
    <script type="text/javascript" src="../public/js/base.js"></script>
</html>