<!doctype html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Video Aula</title>
        <link rel="stylesheet" href="../public/css/site.css">
        <link rel="stylesheet" href="../public/css/menu.css">
    </head>

    <body>

        <header>
            <h1>
                <p>Site</p>
                <menu class="mobile-menu">
                    <p></p>
                    <ul>
                        <li>
                            <a href="javascript:void(0)">Page 1</a>
                        </li>

                        <li>
                            <a href="javascript:void(0)">Page 2</a>
                        </li>

                        <li>
                            <a href="javascript:void(0)">Page 3</a>
                        </li>

                        <li>
                            <a href="javascript:void(0)">Page 4</a>
                        </li>

                        <li>
                            <a href="javascript:void(0)">Page 5</a>
                        </li>

                        <li>
                            <a href="javascript:void(0)">Page 6</a>
                        </li>

                        <li>
                            <a href="javascript:void(0)">Page 7</a>
                        </li>

                        <li>
                            <a href="javascript:void(0)">Page 8</a>
                        </li>

                        <li>
                            <a href="javascript:void(0)">Page 8</a>
                        </li>
                    </ul>
                </menu>
            </h1>
            <div id="logo">
                <img src="../public/images/fundo.jpg" alt="">
            </div>
        </header>

        <menu class="normal-menu">
            <ul>
                <li>
                    <a href="javascript:void(0)">Page 1</a>
                </li>
                <li>
                    <a href="javascript:void(0)">Page 2</a>
                </li>
                <li>
                    <a href="javascript:void(0)">Page 3</a>
                </li>
                <li>
                    <a href="javascript:void(0)">Page 4</a>
                </li>
                <li>
                    <a href="javascript:void(0)">Page 5</a>
                </li>
            </ul>
        </menu>

        <content>
            <div class="contents">

                <div class="content-1">
                    <div class="content-title">
                        <h3>Imagens</h3>
                    </div>
                    <div class="content-body">
                        <div class="content-1-images">
                            <div class="content-1-image">
                                <img src="../public/images/fundo.jpg" alt="">
                                <img src="../public/images/fundo4.jpg" alt="">
                            </div>
                            <div class="content-1-images-body">
                                <div class="content-1-images-title">
                                    <a href="javascript:void(0)">
                                        <h4>Titulo da Imagem 1</h4>
                                    </a>
                                </div>
                                <div class="content-1-images-content">
                                    <p>
                                        Texto...
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="content-1-images">
                            <div class="content-1-image">
                                <img src="../public/images/fundo2.jpg" alt="">
                                <img src="../public/images/fundo2.jpg" alt="">
                            </div>
                            <div class="content-1-images-body">
                                <div class="content-1-images-title">
                                    <a href="javascript:void(0)">
                                        <h4>Titulo da Imagem 2</h4>
                                    </a>
                                </div>
                                <div class="content-1-images-content">
                                    <p>
                                        Texto...
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="content-1-images">
                            <div class="content-1-image">
                                <img src="../public/images/fundo3.jpg" alt="">
                                <img src="../public/images/fundo3.jpg" alt="">
                            </div>
                            <div class="content-1-images-body">
                                <div class="content-1-images-title">
                                    <a href="javascript:void(0)">
                                        <h4>Titulo da Imagem 3</h4>
                                    </a>
                                </div>
                                <div class="content-1-images-content">
                                    <p>
                                        Texto...
                                    </p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="content-2">
                    <div class="content-title">
                        <h3>Mais Imagens</h3>
                    </div>
                    <div class="content-body">
                        <div class="background-image-boxes">
                            <div class="background-image-boxes-title">
                                <h3>Caixas</h3>
                            </div>
                            <div class="background-image-boxes-body">
                                <div class="box">
                                    <div class="box-title">
                                        <h4>Caixa - 1</h4>
                                    </div>
                                    <div class="box-content">
                                        Teste...
                                        <a href="javascript:void(0)">More Info</a>
                                    </div>
                                </div>

                                <div class="box">
                                    <div class="box-title">
                                        <h4>Caixa - 2</h4>
                                    </div>
                                    <div class="box-content">
                                        Teste...
                                        <a href="javascript:void(0)">More Info</a>
                                    </div>
                                </div>

                                <div class="box">
                                    <div class="box-title">
                                        <h4>Caixa - 3</h4>
                                    </div>
                                    <div class="box-content">
                                        Teste...
                                        <a href="javascript:void(0)">More Info</a>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="content-3">
                    <div class="content-title">
                        <h3>Grupo de imagens</h3>
                    </div>
                    <div class="content-body">
                        <div class="content-images-group">
                            <div class="content-images-group-column-md">
                                <div class="images-group-column column-md">
                                    <a href="javascript:void(0)">
                                        <img src="../public/images/pexels-artem-podrez-5108638.jpg" alt="">
                                    </a>
                                </div>
                                <div class="images-group-column column-md">
                                    <a href="javascript:void(0)">
                                        <img src="../public/images/pexels-vlada-karpovich-4450090.jpg" alt="">
                                    </a>
                                </div>
                            </div>
                            <div class="content-images-group-column-lg">
                                <div class="images-group-column column-lg">
                                    <a href="javascript:void(0)">
                                        <img src="../public/images/pexels-clive-kim-4221054.jpg" alt="">
                                    </a>
                                </div>
                            </div>
                            <div class="content-images-group-column-md">
                                <div class="images-group-column column-md">
                                    <a href="javascript:void(0)">
                                        <img src="../public/images/pexels-anna-shvets-4557403.jpg" alt="">
                                    </a>
                                </div>
                                <div class="images-group-column column-md">
                                    <a href="javascript:void(0)">
                                        <img src="../public/images/pexels-elina-sazonova-4403924.jpg" alt="">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </content>

        <footer>
            <div class="footer-content">
                Conteúdo do Rodapé
            </div>
        </footer>

    </body>
</html>