/**
* @media query resizes: 320px, 480px, 600px, 767px, 900px, 1024px and 1200px.
 */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif !important;
    line-height: initial;
}

header{
    padding: 25px;
    background-color: #ffab00;
    box-shadow: #c7c7c7 0 0 10px 0;
    position: sticky;
    top: 0;
    z-index: +11;
}

header nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

header nav h1{
    color: #ffffff;
    font-size: 30px;
}

header nav .logo img{
    max-width: 150px;
}

header nav ul{
    margin: 0;
    display: flex;
    align-items: center;
}

header nav ul li{
    list-style: none;
    display: block;
}

header nav ul li a{
    text-decoration: none;
    padding: 15px;
    color: #ffffff;
    transition: 0.3s all;
}

header nav ul li a:hover{
    text-decoration: none;
    color: #ffffff;
}

header nav ul li a:focus{
    outline: none;
}

content{
    display: block;
    width: 100%;
    overflow-x: hidden;
}

.section-space{
    width: 90%;
    margin: 0 auto 60px auto;
}

.slider-track{
    transform: translateX(0);
}

.banner{
    width: 100%;
    height: 450px;
    margin-bottom: 60px;
}

.banner .prev-image, .banner .next-image{
    z-index: +1;
    position: relative;
}

.banner .prev-image button, .banner .next-image button{
    visibility: hidden;
    color: transparent;
    background: transparent;
    border: none;
    padding: 15px 19px;
    border-radius: 100px;
    transition: 0.5s all;
}

.banner .prev-image{
    top: 200px;
    left: 20px;
    float: left;
}

.banner .next-image{
    top: 200px;
    right: 20px;
    float: right;
}

.banner:hover .prev-image, .banner:hover .next-image{
    display: inline-block;
}

.banner:hover .prev-image button, .banner:hover .next-image button{
    background: rgba(112, 112, 112, 0.5);
    color: #ffffff;
    visibility: visible;
}

.banner .prev-image button:hover, .banner .next-image button:hover{
    background: rgba(112, 112, 112, 1);
}

.banner .prev-image button:focus, .banner .next-image button:focus{
    outline: none;
}

.banner img{
    user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.banner-tp-1 .banner-image img[class~="active"]{
    display: block;
    opacity: 1;
}

.banner-tp-1 .image-full-content, .banner-tp-1 .image-available-content{
    height: 450px;
    width: 100%;
    position: absolute;
}

.banner-tp-1 .image-full-content img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    transition: 0.5s all;
}

.banner-tp-1 .image-available-content img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    opacity: 0;
    transition: 0.5s all;
}

.product-presentation{
    user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.product-presentation .products-header{
    margin: 20px 0;
    text-align: center;
}

.product-presentation .products-header .title{
    font-size: 50px;
    position: relative;
    top: 0;
}

.product-presentation .products-header .title::after {
    content: "";
    position: absolute;
    width: 50%;
    left: 25%;
    bottom: 0;
    border-style: solid;
    border-width: 3px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-color: #ffab00;
}

.product-presentation .products-header .description{
    padding: 10px;
}

.product-presentation .products-content{
    display: flex;
}

.product-presentation .product-content {
    box-shadow: #949494 0 0 5px 0;
    min-width: 252px;
    max-width: 252px;
    height: 100%;
    margin: 0 31px 0 0;
    border-radius: 15px;
    transition: 0.5s linear all;
    float: left;
    user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.product-presentation .product-content .new-tag{
    position: absolute;
    display: none;
    margin-top: 15px;
    margin-left: 15px;
    background-color: #ff0000;
    border-radius: 10px;
    padding: 7px 10px 7px 10px;
    color: #ffffff;
}

.product-presentation .product-content .product-image{
    height: 280px;
}

.product-presentation .product-content .product-image a{
    background-size: cover !important;
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 13px 13px 0 0;
    user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.product-presentation .product-content .product-image img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 13px 13px 0 0;
    transition: 1s linear all;
}

.product-presentation .product-content .product-details{
    padding: 20px;
}

.product-presentation .product-content .product-details a{
    text-decoration: none;
    color: #000000;
    margin-bottom: 20px;
    display: block;
    user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.product-presentation .product-content .product-details .price .dashed-price{
    text-decoration: line-through;
    color: #707070;
    display: inline;
}

.product-presentation .product-content .product-details .price .actual-price {
    display: inline;
}

.product-presentation .product-content .product-details .price .percentage-off {
    background-color: #ff0000;
    border-radius: 10px;
    display: inline;
    padding: 5px 10px 5px 10px;
    margin-left: 5px;
    color: #ffffff;
}

footer{
    box-shadow: #c7c7c7 0 0 10px 0;
}

footer .footer-header{
    background-color: #ffab00;
    padding: 25px;
}

footer .footer-header .title{
    color: #ffffff;
    font-size: 20px;
}

footer .footer-content{
    padding: 25px;
}
