/**
* @media query resizes: 320px, 480px, 600px, 767px, 900px, 1024px and 1200px.
 */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    line-height: initial;
}

*:before, *:after{
    box-sizing: border-box;
}

body{
    color: #21252A;
}

/* Header */

header .main-nav .nav{
    background-color: #ff8d00;
    box-shadow: #c7c7c7 0 0 10px 0;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .main-nav .nav .logo h1{
    font-size: 30px;
    margin: auto;
    padding: 15px;
}

header .main-nav .nav .user-info{
    display: flex;
    align-items: center;
    position: relative;
}

header .main-nav .nav .user-info .user, header .main-nav .nav .user-info .wishlist,
header .main-nav .nav .user-info .cart{
    padding: 15px;
    display: block;
    color: #fff;
    font-size: 20px;
}

header .main-nav .nav .user-info .cart:hover .cart-view{
    display: block;
    opacity: 1;
}

header .main-nav .nav .user-info .cart .cart-view{
    position: absolute;
    background-color: #fff;
    top: 48px;
    right: 11px;
    width: 250px;
    height: 300px;
    z-index: 99;
    box-shadow: #c7c7c7 0 0 10px 0;
    border-radius: 10px;
    display: none;
    opacity: 0;
    transition: 1s opacity;
}

header .main-nav .nav .user-info .cart .cart-view .cart-clear{
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 50px;
    color: #6d6d6d;
}

header .main-nav .nav .user-info .cart .cart-view .cart-clear .cart{
    display: block;
    padding-bottom: 20px;
    font-size: 30px;
}

header .main-nav .nav .user-info .cart .cart-view .cart-clear small{
    font-weight: 700;
}

header .main-nav .menu{
    background-color: #fff;
}

header .main-nav .menu ul{
    list-style: none;
    display: flex;
    justify-content: start;
    margin: 0 20px;
}

header .main-nav .menu ul li{
    padding: 15px 0;
}

header .main-nav .menu ul li a{
    color: #21252A;
    text-decoration: none;
    padding: 15px 35px;
    transition: 0.5s all;
    outline: none;
}

header .main-nav .menu ul li a:hover{
    color: #ff8d00;
}

/* End Header */

/* Content */

content{
    display: block;
    width: 100%;
    overflow-x: hidden;
}

.section-space{
    width: 90%;
    margin: 0 auto 60px auto;
}

.slider-track{
    transform: translateX(0);
}

/*
    Banner Section
*/

.banner{
    width: 100%;
    height: 450px;
    margin-bottom: 60px;
}

.banner .prev-image, .banner .next-image{
    z-index: +1;
    position: relative;
}

.banner .prev-image button, .banner .next-image button{
    visibility: hidden;
    color: transparent;
    background: transparent;
    border: none;
    padding: 15px 19px;
    border-radius: 100px;
    transition: 0.5s all;
}

.banner .prev-image{
    top: 200px;
    left: 20px;
    float: left;
}

.banner .next-image{
    top: 200px;
    right: 20px;
    float: right;
}

.banner:hover .prev-image, .banner:hover .next-image{
    display: inline-block;
}

.banner:hover .prev-image button, .banner:hover .next-image button{
    background: rgba(112, 112, 112, 0.5);
    color: #ffffff;
    visibility: visible;
}

.banner .prev-image button:hover, .banner .next-image button:hover{
    background: rgba(112, 112, 112, 1);
}

.banner .prev-image button:focus, .banner .next-image button:focus{
    outline: none;
}

.banner img{
    user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.banner-tp-1 .banner-image.active img{
    display: block;
    position: relative;
    opacity: 1;
}

.banner-tp-1 .image-full-content, .banner-tp-1 .image-available-content{
    height: 450px;
    width: 100%;
    position: absolute;
}

.banner-tp-1 .image-full-content img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    transition: 0.5s all;
}

.banner-tp-1 .image-available-content img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    opacity: 0;
    transition: 0.5s all;
}

.banner.banner-tp-1 .banner-image .banner-content{
    display: none;
    opacity: 0;
    z-index: 1;
    margin: 0 auto;
    position: absolute;
    width: 80%;
    height: 100%;
    left: 9%;
    flex-direction: column;
    justify-content: center;
    padding: 0 30px;
    transition: 0.5s all;
}

.banner.banner-tp-1 .banner-image.active .banner-content{
    opacity: 1;
    display: flex;
}

.banner.banner-tp-1 .banner-image .banner-content .title{
    font-size: 50px;
    margin: 10px 0;
}

.banner.banner-tp-1 .banner-image .banner-content .description{
    font-size: 20px;
    margin: 10px 0;
}

.banner.banner-tp-1 .banner-image .banner-content .link {
    margin: 12px 0;
}

.banner.banner-tp-1 .banner-image .banner-content .link a{
    font-size: 20px;
    outline: none;
    padding: 10px 30px;
    border: none;
    box-shadow: 2px 2px 7px 1px rgba(0, 0, 0, 0.2);
    background-color: #ff8d00;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: 0.8s background-color;
}

.banner.banner-tp-1 .banner-image .banner-content .link a:hover{
    background-color: #ff7300;
}

/*
    End Banner
*/

/*Product Presentation*/

.product-presentation{
    user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.product-presentation .products-header{
    margin: 20px 0;
    text-align: center;
}

.product-presentation .products-header .title{
    font-size: 50px;
    position: relative;
    top: 0;
}

.product-presentation .products-header .title::after {
    content: "";
    position: absolute;
    width: 50%;
    left: 25%;
    bottom: 0;
    border-style: solid;
    border-width: 3px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-color: #ff8d00;
}

.product-presentation .products-header .description{
    padding: 10px;
}

.product-presentation .products-content{
    display: flex;
}

.product-presentation .product-content {
    min-width: 252px;
    max-width: 252px;
    height: 100%;
    margin: 0 31px 0 0;
    border-radius: 15px;
    float: left;
    position: relative;
    box-shadow: #949494 0 0 5px 0;
    transition: 0.5s linear all;
    user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.product-presentation .product-content .new-tag{
    position: absolute;
    display: block;
    top: 15px;
    left: 15px;
    background-color: #ff0000;
    border-radius: 5px;
    padding: 5px 8px;
    color: #ffffff;
    transition: 1s all;
}

.product-presentation .product-content .product-image{
    height: 280px;
}

.product-presentation .product-content .product-image a{
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: center center !important;
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 13px 13px 0 0;
    user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    transition: 1s background-size;
}

.product-presentation .product-content .product-image img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 13px 13px 0 0;
    transition: 1s linear all;
}

.product-presentation .product-content .product-buttons{
    color: #fff;
    position: absolute;
    top: 15px;
    display: flex;
    flex-direction: column;
    right: 15px;
    opacity: 0;
    transition: 0.5s opacity;
}

.product-presentation .product-content:hover .product-buttons{
    opacity: 1;
}

.product-presentation .product-content .product-buttons a{
    color: #fff;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.2);
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    margin: 0 0 15px;
    display: inline-flex;
    border-radius: 100%;
    transition: 1s opacity, .3s color;
}

.product-presentation .product-content .product-buttons a:hover{
    color: #ff8d00;
}

.product-presentation .product-content .product-details{
    padding: 10px 20px;
}

.product-presentation .product-content .product-details a{
    text-decoration: none;
    color: #000000;
    margin: 10px 0;
    display: block;
    user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.product-presentation .product-content .product-details .price {
    margin: 10px 0;
}

.product-presentation .product-content .product-details .price .dashed-price{
    text-decoration: line-through;
    color: #707070;
    display: inline;
}

.product-presentation .product-content .product-details .price .actual-price {
    display: inline;
}

.product-presentation .product-content .product-details .price .percentage-off {
    position: absolute;
    display: block;
    top: 235px;
    right: 15px;
    background-color: #ff0000;
    border-radius: 5px;
    padding: 7px 10px 7px 10px;
    color: #ffffff;
    transition: 1s all;
}

.product-presentation .product-content:hover .product-details .price .percentage-off, .product-presentation .product-content:hover .new-tag{
    z-index: -1;
    opacity: 0;
    transition: 1.5s all;
}

/*Footer*/

footer{
    box-shadow: #c7c7c7 0 0 10px 0;
}

footer .footer-header{
    background-color: #ff8d00;
    padding: 25px;
}

footer .footer-header .title{
    color: #ffffff;
    font-size: 20px;
}

footer .footer-content{
    padding: 25px;
}
