*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif !important;
    line-height: initial;
}

body{
    min-height: 100vh;
}

header{
    padding: 25px;
    background-color: #ffbf00;
    box-shadow: #c7c7c7 0 0 10px 0;
    position: sticky;
    top: 0;
    z-index: +11;
}

header nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

header nav h1{
    color: #ffffff;
    font-size: 30px;
}

header nav .logo img{
    max-width: 150px;
}

header nav ul{
    margin: 0;
    display: flex;
    align-items: center;
}

header nav ul li{
    list-style: none;
    display: block;
}

header nav ul li a{
    text-decoration: none;
    padding: 15px;
    color: #ffffff;
    transition: 0.3s all;
}

header nav ul li a:hover{
    text-decoration: none;
    color: #ffffff;
}

header nav ul li a:focus{
    outline: none;
}

content{
    display: block;
    width: 100%;
    overflow-x: hidden;
}

content .content{
    margin: auto;
    width: 90%;
}

.banner{
    width: 100vw;
    height: 350px;
    margin-left: -5.59%;
    margin-bottom: 25px;
}

.banner .prev-image, .banner .next-image{
    z-index: +1;
    position: absolute;
}

.banner .prev-image button, .banner .next-image button{
    visibility: hidden;
    color: transparent;
    background: transparent;
    border: none;
    padding: 15px 19px;
    border-radius: 100px;
    transition: 0.5s all;
}

.banner .prev-image{
    top: 44.5%;
    left: 20px;
}

.banner .next-image{
    top: 44.5%;
    right: 20px;
}

.banner:hover .prev-image, .banner:hover .next-image{
    display: inline-block;
}

.banner:hover .prev-image button, .banner:hover .next-image button{
    background: rgba(112, 112, 112, 0.5);
    color: #ffffff;
    visibility: visible;
}

.banner .prev-image button:hover, .banner .next-image button:hover{
    background: rgba(112, 112, 112, 1);
}

.banner .prev-image button:focus, .banner .next-image button:focus{
    outline: none;
}

.banner .banner-image img[class*="prepare-rm-change"]{
    display: block;
    transition: 1s opacity !important;
    opacity: 0 !important;
}

.banner-tp-1{
    height: 450px;
}

.banner-tp-1 .banner-image img{
    display: none;
    transition: 0.3s opacity;
}

.banner-tp-1 .banner-image img[class*="active"]{
    display: block;
    opacity: 1;
}

.banner-tp-1 .image-full-content, .banner-tp-1 .image-available-content{
    height: 67.5%;
    width: 100%;
    position: absolute;
}

.banner-tp-1 .image-full-content img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
}

.banner-tp-1 .image-available-content img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    opacity: 0;
}

.product-presentation{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    overflow-y: auto;
    scroll-behavior: smooth;
    margin-bottom: 35px;
    padding: 5px;
}

.product-presentation::after{
    content: "";
    padding: 1px;
    right: 10px;
}

.product-presentation .scroll-back, .product-presentation .scroll-next{
    cursor: pointer;
}

.product-presentation .scroll-back:focus, .product-presentation .scroll-next:focus{
    outline: none;
}

.product-presentation[data-has-progress="0"] .scroll-back, .product-presentation[data-has-progress="0"] .scroll-next{
    display: none;
    visibility: hidden;
}

.product-presentation[data-has-progress="1"] .scroll-back{
    content: "<";
    font-weight: bold;
    font-size: 20px;
    color: #ffffff;
    border-radius: 100px;
    background-color: rgba(255, 189, 0, 1);
    padding: 5px 10px;
    position: absolute;
    left: 10px;
    transition: 0.5s all;
    border: none;
}

.product-presentation[data-has-progress="1"] .scroll-next{
    content: ">";
    font-weight: bold;
    font-size: 20px;
    color: #ffffff;
    border-radius: 100px;
    background-color: rgba(255, 189, 0, 1);
    padding: 5px 10px;
    position: absolute;
    right: 10px;
    transition: 0.5s all;
    border: none;
}

.product-presentation[data-progress="0"] .scroll-back{
    background-color: rgba(255, 189, 0, 0);
    display: none;
}

.product-presentation[data-progress="100"] .scroll-back{
    background-color: rgba(255, 189, 0, 1);
}

.product-presentation[data-progress="0"] .scroll-next{
    background-color: rgba(255, 189, 0, 1);
}

.product-presentation[data-progress^="100"] .scroll-next, .product-presentation[data-progress^="99"] .scroll-next{
    color: transparent;
    display: none;
    background-color: rgba(255, 189, 0, 0);
}

.product-presentation::-webkit-scrollbar{
    display: none;
    width: 0;
    background: transparent;
}

.product-presentation::-webkit-scrollbar-thumb{
    display: none;
    width: 0;
    background: transparent;
}

.product-content{
    box-shadow: inset #949494 0 0 5px 0;
    min-width: 265px;
    height: 380px;
    margin: 0 20px;
    border-radius: 15px;
}

.product-content .new-tag{
    position: absolute;
    display: none;
    margin-top: 15px;
    margin-left: 15px;
    background-color: #ff0000;
    border-radius: 10px;
    padding: 7px 10px 7px 10px;
    color: #ffffff;
}

.product-content .product-image img{
    object-fit: cover;
    width: 100%;
    height: 280px;
    border-radius: 13px 13px 0 0;
}

.product-content .product-details{
    padding: 20px;
}

.product-content .product-details a{
    text-decoration: none;
    color: #000000;
    margin-bottom: 20px;
    display: block;
}

.product-content .product-details .price .dashed-price{
    text-decoration: line-through;
    color: #707070;
    display: inline;
}

.product-content .product-details .price .actual-price {
    display: inline;
}

.product-content .product-details .price .percentage-off {
    background-color: #ff0000;
    border-radius: 10px;
    display: inline;
    padding: 5px 10px 5px 10px;
    margin-left: 5px;
    color: #ffffff;
}

footer{
    box-shadow: #c7c7c7 0 0 10px 0;
}

footer .footer-header{
    background-color: #ffbf00;
    padding: 25px;
}

footer .footer-header .title{
    color: #ffffff;
    font-size: 20px;
}

footer .footer-content{
    padding: 25px;
}